# Ignore object files

# Ignore compiled shared libraries
*.o
*.so
*.dll
*.dylib

# Ignore R package build artifacts
.Rbuildignore
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Renviron
.DS_Store

# Ignore specific directories
data

*.so
inst/doc
vignettes/annimated-plots/iteration_1.gif
vignettes/annimated-plots/iteration_10.gif
vignettes/annimated-plots/iteration_2.gif
vignettes/annimated-plots/iteration_3.gif
vignettes/annimated-plots/iteration_4.gif
vignettes/annimated-plots/iteration_5.gif
vignettes/annimated-plots/iteration_6.gif
vignettes/annimated-plots/iteration_7.gif
vignettes/annimated-plots/iteration_8.gif
vignettes/annimated-plots/iteration_9.gif
/vignettes/Introduction-to-FINN_files
/vignettes/annimated-plots
/vignettes/annimated-plots
vignettes/annimated-plots/combined_iterations.gif
/vignettes/annimated-plots
vignettes/annimated-plots/combined_iterations.gif
*.afdesign

