# Ignore object files
*.o

# Ignore compiled shared libraries
*.so
*.dll
*.dylib

# Ignore R package build artifacts
.Rbuildignore
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Renviron
.DS_Store

# Ignore specific directories
src/*.o
src/*.so
src/*.dll
src/*.dylib
data

