# Ignore object files

# Ignore compiled shared libraries
*.o
*.so
*.dll
*.dylib

# Ignore R package build artifacts
.Rbuildignore
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Renviron
.DS_Store

# Ignore specific directories
data

*.so
inst/doc
